@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #FDF6EA !important;
}

.nav-link {
  color: black !important
}

h1{
  color:black;
}

#home-container {
  margin-top: 25px;
}

#background
{
  background-image: asset-url('image_back.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;

}

#page-content {
  flex: 1 0 auto;

}

#sticky-footer {
  flex-shrink: none;
}
