<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "More tec", "https://www.moretec.com.br" %></small>
  </div>
</footer>
